<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EasyExchange" connectionString="Data Source=DESKTOP-FOB2S6T;Initial Catalog=PAYWITHSERVICES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Presentation.Properties.Settings.PAYWITHSERVICESConnectionString"
            connectionString="Data Source=DESKTOP-FOB2S6T;Initial Catalog=PAYWITHSERVICES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>